In [1]:
pwd

'/Users/kenneth'

# Python Training 2021- Class 5

# Tuple data structure in Python

___
### List Review

___
### sort() vs sorted()

- sort(): a method of 'list'
- sorted(): a function

In [1]:
list_of_numbers = [3, 2, 3, 1, 1]
list_of_numbers.sort()

In [2]:
list_of_numbers

[1, 1, 2, 3, 3]

In [64]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
list_of_numbers = [3, 2, 3, 1, 1]
list_b = sorted(list_of_numbers)

[1, 1, 2, 3, 3]

In [4]:
list_of_numbers

[3, 2, 3, 1, 1]

In [5]:
sorted("BBAAMMefabcd")

['A', 'A', 'B', 'B', 'M', 'M', 'a', 'b', 'c', 'd', 'e', 'f']

___
### Mutable vs Immutable

#### REMEMBER: List contains ONLY the *references* to its elements

In [30]:
a = "something"
b = a
a = "nothing"
print(a, b)

nothing something

In [25]:
a = ["something"]
b = a
a[0] = "nothing"
print(a, b)

['nothing'] ['nothing']

In [8]:
a is b

True

In [39]:
import pandas as pd

df = pd.DataFrame(dict(a=1, b=2), index=[0])
df

   a  b
0  1  2

In [42]:
list_containing_df = [df]
list_containing_df[0]

   a  b
0  1  2

In [11]:
df.columns = "c", "d"
df

   c  d
0  1  2

In [12]:
list_containing_df[0]

   c  d
0  1  2

___
### Create a copy of a list

In [65]:
a = list(range(10))
slice_a = slice(2, 5)
a[slice_a]

slice(2, 5, None)

In [14]:
a[2:5]

[2, 3, 4]

In [15]:
a = [1, 2, 3]
b = a[:]
a[0] = 5
print(a, b)

[5, 2, 3] [1, 2, 3]

In [16]:
a = [1, 2, 3]
b = list(a)
a[0] = 5
print(a, b)

[5, 2, 3] [1, 2, 3]

In [17]:
a = [1, 2, 3]
b = a.copy() # Recommended
a[0] = 5
print(a, b)

[5, 2, 3] [1, 2, 3]

In [68]:
a = [1, 2, 3, [4, 5, 6]]
b = a.copy()
a[-1][2] = 10
print(a, b)

[1, 2, 3, [4, 5, 10]] [1, 2, 3, [4, 5, 10]]

In [69]:
a is b

False

In [70]:
print(a, b)

[1, 2, 3, [4, 5, 10]] [1, 2, 3, [4, 5, 10]]

In [71]:
a[-1] is b[-1]

True

In [72]:
a == b

True

In [21]:
from copy import deepcopy
a = [1, 2, 3, [4, 5, 6]]
b = deepcopy(a)
a[-1][2] = 10
print(a, b)

[1, 2, 3, [4, 5, 10]] [1, 2, 3, [4, 5, 6]]

___
### assert statement

In [46]:
numbers = [1, 2, 3]
assert numbers == [1, 2, 3]

In [73]:
assert numbers < [1, 2, 4]
assert numbers > [1, 2, 4]

AssertionError:

In [48]:
assert numbers == [1, 2, 4], "should be [1, 2, 3]"
assert numbers < [1, 2, 4]

AssertionError: should be [1, 2, 3]

In [49]:
assert numbers < [1, 2, 4]

In [50]:
[1, 2, 3] < [2, 1, 3]

True

In [51]:
[3, 1, 1] > [2, 10000, 300]

True

___
### Tuple Definition

#### List Definition
- **mutable** data structure.
- contains multiple values in an **ordered** sequence.
- mostly used to store **homogeneous** data

#### Tuple Definition
- **immutable** data structure.
- contains multiple values in an **ordered** sequence.
- mostly used to store **heterogeneous** data

In [53]:
names = ["Adam", "Brian", "Chris"]
weights = [60, 70, 80]

a_tuple = ("Adam", 60)
another_tuple = "Brian", 70
a_list_of_tuples = [("Adam", 60), ("Brian", 70), ("Chris", 80)]

In [75]:
a_tuple

('Cuong', 60)

In [60]:
string_tuple = ("wassup")
string_tuple

'wassup'

In [58]:
long_string = ("Return the absolute value of a number. "
               "The argument may be a plain or long integer "
               "or a floating point number. If the argument is")
long_string

'Return the absolute value of a number. The argument may be a plain or long integer or a floating point number. If the argument is'

In [59]:
string_tuple = "wassup",
string_tuple

('wassup',)

In [61]:
list("wassup")

['w', 'a', 's', 's', 'u', 'p']

In [62]:
string_tuple = tuple("wassup")
string_tuple

('w', 'a', 's', 's', 'u', 'p')