# Python Training 2021 - Class 10

## Useful Python libraries

___
## Data Analysis

In [26]:
import datetime
from IPython.display import display
# Date range
today = datetime.date.today()
print(today)
display(today)

2019-03-28

datetime.date(2019, 3, 28)

In [27]:
today.weekday()

3

In [28]:
"abc".isalpha()

True

In [61]:
one_week_ago = today - datetime.timedelta(weeks=1)
one_week_ago

datetime.datetime(2019, 3, 21, 0, 0)

In [30]:
one_week_range = {'start': one_week_ago, 'end': today}
one_week_range

{'end': datetime.date(2019, 3, 28), 'start': datetime.date(2019, 3, 21)}

In [31]:
today = today.strftime("%d_%m_%Y")
today

'28_03_2019'

In [32]:
# parse time
today = datetime.datetime.strptime(today, "%d_%m_%Y")
today

datetime.datetime(2019, 3, 28, 0, 0)

In [63]:
datetime.date(2019, 3, 28).weekday()

3

In [34]:
today.strftime("%B")

'March'

In [35]:
import bql
# Instantiate an object to interface with the BQL service
bq = bql.Service()

In [36]:
# Define a universe of the members of the NKY Index
nikkei_members = bq.univ.members("NKY Index")

# Generate and execute the request
last = bq.data.px_last(**one_week_range)    # (end=datetime.date(2019, 3, 28), start=datetime.date(2019, 3, 21))
high = bq.data.px_high(**one_week_range)
low = bq.data.px_low(**one_week_range)

request = bql.Request(nikkei_members, [last, high, low])
response = bq.execute(request)

# Combine response into one data frame
nikkei = bql.combined_df(response)
nikkei.head()

,DATE,CURRENCY,"PX_LAST(start=2019-03-21,end=2019-03-28)","PX_HIGH(start=2019-03-21,end=2019-03-28)","PX_LOW(start=2019-03-21,end=2019-03-28)"
ID,,,,,
8766 JT Equity,2019-03-21,JPY,NaN,NaN,NaN
8766 JT Equity,2019-03-22,JPY,5445.0,5522.0,5445.0
8766 JT Equity,2019-03-23,JPY,NaN,NaN,NaN
8766 JT Equity,2019-03-24,JPY,NaN,NaN,NaN
8766 JT Equity,2019-03-25,JPY,5368.0,5405.0,5342.0

In [37]:
import pyrefdata
import bqapi
session = bqapi.Session()

In [38]:
nikkei = pyrefdata.get_historical_data(
    session, "index:NKY", ["PX_LAST", "PX_HIGH", "PX_LOW"],
    start_date=one_week_ago, end_date=today
)
nikkei.head()

Using the no_format object is deprecated. Please set format=None in the call to send_request, or supply a new SimpleFormat instance

Field                      PX_HIGH  PX_LAST  PX_LOW
Security       date
1332 JT Equity 2019-03-22    806.0    805.0   797.0
               2019-03-25    802.0    797.0   792.0
               2019-03-26    819.0    817.0   798.0
               2019-03-27    824.0    821.0   806.0
               2019-03-28    854.0    854.0   831.0

In [51]:
type(nikkei)

pandas.core.frame.DataFrame

In [64]:
nikkei.tail()

Field                      PX_HIGH  PX_LAST   PX_LOW
Security       date
9984 JT Equity 2019-03-22  11355.0  11270.0  11015.0
               2019-03-25  11025.0  10705.0  10605.0
               2019-03-26  10760.0  10615.0  10570.0
               2019-03-27  10675.0  10625.0  10530.0
               2019-03-28  10615.0  10585.0  10270.0

In [40]:
nikkei.head(20)

Field                      PX_HIGH  PX_LAST  PX_LOW
Security       date
1332 JT Equity 2019-03-22    806.0    805.0   797.0
               2019-03-25    802.0    797.0   792.0
               2019-03-26    819.0    817.0   798.0
               2019-03-27    824.0    821.0   806.0
               2019-03-28    854.0    854.0   831.0
1333 JT Equity 2019-03-22   4085.0   4050.0  4015.0
               2019-03-25   4025.0   4005.0  3975.0
               2019-03-26   4075.0   4075.0  4020.0
               2019-03-27   4040.0   4005.0  3975.0
               2019-03-28   4005.0   3960.0  3930.0
1605 JT Equity 2019-03-22   1092.0   1076.0  1064.0
               2019-03-25   1048.5   1035.5  1027.5
               2019-03-26   1068.5   1051.0  1039.5
               2019-03-27   1070.0   1055.0  1041.0
               2019-03-28   1062.0   1047.5  1042.5
1721 JT Equity 2019-03-22   2987.0   2955.0  2936.0
               2019-03-25   2935.0   2882.0  2869.0
               2019-03-26   2969.0   2966.0  2895.0
               2019-03-27   2998.0   2990.0  2959.0
               2019-03-28   2989.0   2945.0  2933.0

In [54]:
import pandas as pd

In [55]:
bbgid_df = pd.read_csv("data_files/class_10.xls", sep="\t",
                       index_col=False, usecols=["BBGID", "UUID"], comment="*")
bbgid_df.tail()

               BBGID        UUID
258455  BBG00MMDYYV2     44720.0
258456  BBG00MMDYYT5  19712564.0
258457  BBG00MMDYYS6   8529648.0
258458           NaN         NaN
258459           NaN         NaN

In [56]:
bbgid_df.dropna().tail()

               BBGID        UUID
258453  BBG00MMDYYX0     44720.0
258454  BBG00MMDYYW1     44720.0
258455  BBG00MMDYYV2     44720.0
258456  BBG00MMDYYT5  19712564.0
258457  BBG00MMDYYS6   8529648.0

In [57]:
bbgid_df.tail()

               BBGID        UUID
258455  BBG00MMDYYV2     44720.0
258456  BBG00MMDYYT5  19712564.0
258457  BBG00MMDYYS6   8529648.0
258458           NaN         NaN
258459           NaN         NaN

In [58]:
print("Before dropping NA:", len(bbgid_df))

bbgid_df.dropna(inplace=True)

print("After dropping NA:", len(bbgid_df))

bbgid_df.tail()

Before dropping NA: 258460
After dropping NA: 258194

               BBGID        UUID
258453  BBG00MMDYYX0     44720.0
258454  BBG00MMDYYW1     44720.0
258455  BBG00MMDYYV2     44720.0
258456  BBG00MMDYYT5  19712564.0
258457  BBG00MMDYYS6   8529648.0

In [59]:
print("Before filtering unique values:", len(bbgid_df))

bbgid_df.BBGID.drop_duplicates(inplace=True)

print("After filtering unique values:", len(bbgid_df))

Before filtering unique values: 258194
After filtering unique values: 258194

In [60]:
fields_to_query = [i + " BBGID" for i in bbgid_df.BBGID[:1000]]
fields_to_query[:10]

['BBG00MMP0322 BBGID',
 'BBG00MMP0313 BBGID',
 'BBG00MMP0304 BBGID',
 'BBG00MMP02Z8 BBGID',
 'BBG00MMP02Y9 BBGID',
 'BBG00MMP02X0 BBGID',
 'BBG00MMP02W1 BBGID',
 'BBG00MMP02V2 BBGID',
 'BBG00MMP02T5 BBGID',
 'BBG00MMP02S6 BBGID']

In [61]:
queried_df = pyrefdata.get_data(
    session, fields_to_query,
    ["ID_BB_SECURITY", "CNTRY_OF_DOMICILE", "STATE_OF_DOMICILE"],
     ignore_errors=True
)

In [62]:
queried_df.head(10)

Field              CNTRY_OF_DOMICILE  ID_BB_SECURITY STATE_OF_DOMICILE
Security
BBG00MMNYWK6 BBGID                DE             NaN               NaN
BBG00MMNYWL5 BBGID                DE             NaN               NaN
BBG00MMNYWM4 BBGID                DE             NaN               NaN
BBG00MMNYWN3 BBGID                DE             NaN               NaN
BBG00MMNYWP1 BBGID                DE             NaN               NaN
BBG00MMNYWQ0 BBGID                DE             NaN               NaN
BBG00MMNYWR9 BBGID                DE             NaN               NaN
BBG00MMNYWS8 BBGID                DE             NaN               NaN
BBG00MMNYWT7 BBGID                DE             NaN                CA
BBG00MMNYWV4 BBGID                DE             NaN               NaN

In [63]:
queried_df.dropna(how="all", inplace=True)
queried_df.head(10)

Field              CNTRY_OF_DOMICILE  ID_BB_SECURITY STATE_OF_DOMICILE
Security
BBG00MMNYWK6 BBGID                DE             NaN               NaN
BBG00MMNYWL5 BBGID                DE             NaN               NaN
BBG00MMNYWM4 BBGID                DE             NaN               NaN
BBG00MMNYWN3 BBGID                DE             NaN               NaN
BBG00MMNYWP1 BBGID                DE             NaN               NaN
BBG00MMNYWQ0 BBGID                DE             NaN               NaN
BBG00MMNYWR9 BBGID                DE             NaN               NaN
BBG00MMNYWS8 BBGID                DE             NaN               NaN
BBG00MMNYWT7 BBGID                DE             NaN                CA
BBG00MMNYWV4 BBGID                DE             NaN               NaN

In [64]:
a = [1, 2, 3]
a[2]

3

In [65]:
b = dict(a=1, b=2)
b['b']

2

In [66]:
queried_df[queried_df.CNTRY_OF_DOMICILE == "JP"]

Field              CNTRY_OF_DOMICILE  ID_BB_SECURITY STATE_OF_DOMICILE
Security
BBG00MMNZNJ7 BBGID                JP             NaN               NaN
BBG00MMNZNK5 BBGID                JP             NaN                ON

In [43]:
nikkei.head()

Field                      PX_HIGH  PX_LAST  PX_LOW
Security       date
1332 JT Equity 2019-03-22    806.0    805.0   797.0
               2019-03-25    802.0    797.0   792.0
               2019-03-26    819.0    817.0   798.0
               2019-03-27    824.0    821.0   806.0
               2019-03-28    854.0    854.0   831.0

In [76]:
nikkei.index[:1]

MultiIndex(levels=[['1332 JT Equity', '1333 JT Equity', '1605 JT Equity', '1721 JT Equity', '1801 JT Equity', '1802 JT Equity', '1803 JT Equity', '1808 JT Equity', '1812 JT Equity', '1925 JT Equity', '1928 JT Equity', '1963 JT Equity', '2002 JT Equity', '2269 JT Equity', '2282 JT Equity', '2432 JT Equity', '2501 JT Equity', '2502 JT Equity', '2503 JT Equity', '2531 JT Equity', '2768 JT Equity', '2801 JT Equity', '2802 JT Equity', '2871 JT Equity', '2914 JT Equity', '3086 JT Equity', '3099 JT Equity', '3101 JT Equity', '3103 JT Equity', '3105 JT Equity', '3289 JT Equity', '3382 JT Equity', '3401 JT Equity', '3402 JT Equity', '3405 JT Equity', '3407 JT Equity', '3436 JT Equity', '3861 JT Equity', '3863 JT Equity', '4004 JT Equity', '4005 JT Equity', '4021 JT Equity', '4042 JT Equity', '4043 JT Equity', '4061 JT Equity', '4063 JT Equity', '4151 JT Equity', '4183 JT Equity', '4188 JT Equity', '4208 JT Equity', '4272 JT Equity', '4324 JT Equity', '4452 JT Equity', '4502 JT Equity', '4503 JT Equity', '4506 JT Equity', '4507 JT Equity', '4519 JT Equity', '4523 JT Equity', '4543 JT Equity', '4568 JT Equity', '4578 JT Equity', '4631 JT Equity', '4689 JT Equity', '4704 JT Equity', '4751 JT Equity', '4755 JT Equity', '4901 JT Equity', '4902 JT Equity', '4911 JT Equity', '5019 JT Equity', '5020 JT Equity', '5101 JT Equity', '5108 JT Equity', '5201 JT Equity', '5202 JT Equity', '5214 JT Equity', '5232 JT Equity', '5233 JT Equity', '5301 JT Equity', '5332 JT Equity', '5333 JT Equity', '5401 JT Equity', '5406 JT Equity', '5411 JT Equity', '5541 JT Equity', '5631 JT Equity', '5703 JT Equity', '5706 JT Equity', '5707 JT Equity', '5711 JT Equity', '5713 JT Equity', '5714 JT Equity', '5801 JT Equity', '5802 JT Equity', '5803 JT Equity', '5901 JT Equity', '6098 JT Equity', '6103 JT Equity', '6113 JT Equity', '6178 JT Equity', '6301 JT Equity', '6302 JT Equity', '6305 JT Equity', '6326 JT Equity', '6361 JT Equity', '6366 JT Equity', '6367 JT Equity', '6471 JT Equity', '6472 JT Equity', '6473 JT Equity', '6479 JT Equity', '6501 JT Equity', '6503 JT Equity', '6504 JT Equity', '6506 JT Equity', '6645 JT Equity', '6674 JT Equity', '6701 JT Equity', '6702 JT Equity', '6703 JT Equity', '6724 JT Equity', '6752 JT Equity', '6758 JT Equity', '6762 JT Equity', '6770 JT Equity', '6841 JT Equity', '6857 JT Equity', '6902 JT Equity', '6952 JT Equity', '6954 JT Equity', '6971 JT Equity', '6976 JT Equity', '6988 JT Equity', '7003 JT Equity', '7004 JT Equity', '7011 JT Equity', '7012 JT Equity', '7013 JT Equity', '7186 JT Equity', '7201 JT Equity', '7202 JT Equity', '7203 JT Equity', '7205 JT Equity', '7211 JT Equity', '7261 JT Equity', '7267 JT Equity', '7269 JT Equity', '7270 JT Equity', '7272 JT Equity', '7731 JT Equity', '7733 JT Equity', '7735 JT Equity', '7751 JT Equity', '7752 JT Equity', '7762 JT Equity', '7911 JT Equity', '7912 JT Equity', '7951 JT Equity', '8001 JT Equity', '8002 JT Equity', '8015 JT Equity', '8028 JT Equity', '8031 JT Equity', '8035 JT Equity', '8053 JT Equity', '8058 JT Equity', '8233 JT Equity', '8252 JT Equity', '8253 JT Equity', '8267 JT Equity', '8303 JT Equity', '8304 JT Equity', '8306 JT Equity', '8308 JT Equity', '8309 JT Equity', '8316 JT Equity', '8331 JT Equity', '8354 JT Equity', '8355 JT Equity', '8411 JT Equity', '8601 JT Equity', '8604 JT Equity', '8628 JT Equity', '8630 JT Equity', '8725 JT Equity', '8729 JT Equity', '8750 JT Equity', '8766 JT Equity', '8795 JT Equity', '8801 JT Equity', '8802 JT Equity', '8804 JT Equity', '8830 JT Equity', '9001 JT Equity', '9005 JT Equity', '9007 JT Equity', '9008 JT Equity', '9009 JT Equity', '9020 JT Equity', '9021 JT Equity', '9022 JT Equity', '9062 JT Equity', '9064 JT Equity', '9101 JT Equity', '9104 JT Equity', '9107 JT Equity', '9202 JT Equity', '9301 JT Equity', '9412 JT Equity', '9432 JT Equity', '9433 JT Equity', '9437 JT Equity', '9501 JT Equity', '9502 JT Equity', '9503 JT Equity', '9531 JT Equity', '9532 JT Equity', '9602 JT Equity', '9613 JT Equity', '9681 JT Equity', '9735 JT Equity', '9766 JT Equity', '9983 JT Equity', '9984 JT Equity'], [2019-03-22 00:00:00, 2019-03-25 00:00:00, 2019-03-26 00:00:00, 2019-03-27 00:00:00, 2019-03-28 00:00:00]],
           labels=[[0], [0]],
           names=['Security', 'date'])

In [70]:
nikkei.loc["1332 JT Equity",  "PX_LAST"]["2019-03-27"]

821.0

In [70]:
nikkei.head()

Field                      PX_HIGH  PX_LAST  PX_LOW
Security       date
1332 JT Equity 2018-11-12    720.0    712.0   705.0
               2018-11-13    712.0    700.0   692.0
               2018-11-14    700.0    698.0   693.0
               2018-11-15    704.0    701.0   687.0
               2018-11-16    709.0    706.0   695.0

In [49]:
nikkei.iloc[0, 0]

806.0

___
### Dashboard building

In [51]:
import bqwidgets
import ipywidgets as widgets

### Refer to BQNT Home --) Example Projects --) App Creation --) bqwidgets Reference for more info

In [77]:
btn = widgets.Button(
    description='Click me',
    disabled=False,
    button_style='success', # 'success', 'info', 'warning', 'danger' or ''
    icon='check'
)
btn

Button(button_style='success', description='Click me', icon='check', style=ButtonStyle())

In [78]:
def do_this(a_btn):
    print("YEAHHHHH")
    
btn.on_click(do_this)
btn

Button(button_style='success', description='Click me', icon='check', style=ButtonStyle())

In [79]:
dir(widgets.Button)

['__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_add_notifiers',
 '_call_widget_constructed',
 '_comm_changed',
 '_compare',
 '_default_keys',
 '_display_callbacks',
 '_dom_classes',
 '_gen_repr_from_keys',
 '_get_embed_state',
 '_handle_button_msg',
 '_handle_custom_msg',
 '_handle_displayed',
 '_handle_msg',
 '_holding_sync',
 '_ipython_display_',
 '_is_numpy',
 '_lock_property',
 '_log_default',
 '_model_module',
 '_model_module_version',
 '_model_name',
 '_msg_callbacks',
 '_notify_trait',
 '_property_lock',
 '_register_validator',
 '_remove_notifiers',
 '_repr_keys',
 '_send',
 '_should_send_property',
 '_states_to_send',
 '_trait_default_generators',
 '_trait_from_json',
 '_trait_to_json',
 '_validate_icon',
 '_view_count',
 '_view_module',
 '_view_module_version',
 '_view_name',
 '_widget_construction_callback',
 'add_class',
 'add_traits',
 'button_style',
 'class_own_trait_events',
 'class_own_traits',
 'class_trait_names',
 'class_traits',
 'close',
 'close_all',
 'comm',
 'cross_validation_lock',
 'description',
 'disabled',
 'get_manager_state',
 'get_state',
 'get_view_spec',
 'handle_comm_opened',
 'has_trait',
 'hold_sync',
 'hold_trait_notifications',
 'icon',
 'keys',
 'layout',
 'log',
 'model_id',
 'notify_change',
 'observe',
 'on_click',
 'on_displayed',
 'on_msg',
 'on_trait_change',
 'on_widget_constructed',
 'open',
 'remove_class',
 'send',
 'send_state',
 'set_state',
 'set_trait',
 'setup_instance',
 'style',
 'tooltip',
 'trait_events',
 'trait_metadata',
 'trait_names',
 'traits',
 'unobserve',
 'unobserve_all',
 'widget_types',
 'widgets']

In [80]:
btn_list = [btn, btn, btn]

In [55]:
from IPython.display import display, Markdown
for i in btn_list:
    display(i)

Button(description='Click me', icon='check', style=ButtonStyle())

Button(description='Click me', icon='check', style=ButtonStyle())

Button(description='Click me', icon='check', style=ButtonStyle())

In [82]:
Markdown("""
## Some heading
- one thing
- two things


1. First thing
2. Second thing""")

## Some heading
- one thing
- two things


1. First thing
2. Second thing

## Some heading
- one thing
- two things


1. First thing
2. Second thin