# Python Training 2021 - Class 4

___
### Define a list

In [1]:
[1, 2, 3]

[1, 2, 3]

In [2]:
for i in "abcd":
    print(i)

a
b
c
d

In [3]:
list("abcd")

['a', 'b', 'c', 'd']

In [4]:
list("abcd" + "ef")

['a', 'b', 'c', 'd', 'e', 'f']

___
### Concatenation

In [5]:
[1, 2, 3] + ['A', 'B', 'C']

[1, 2, 3, 'A', 'B', 'C']

In [6]:
a = 5
a += 3
# a = a + 3
a

8

In [7]:
random_numbers = [2, 6, 5]
random_numbers += [1, 2, 3]
random_numbers

[2, 6, 5, 1, 2, 3]

In [8]:
list_a = [2, 6, 5,5,5,5,5,5,5,5]
list_a.index(5)

2

In [9]:
list_a = [2, 6, 5]
list_b = [1, 2, 3]
for i in list_a:
    print(list_b[list_a.index(i)] + i)

3
8
8

In [10]:
list_a = [2, 6, 5]
list_b = [1, 2, 3, 10]
for i, i2 in zip(list_a, list_b):
    print(i+i2)

3
8
8

In [11]:
list(zip(list_a ,list_b))

[(2, 1), (6, 2), (5, 3)]

In [12]:
list_a = [2, 6, 5]
list_b = [1, 2, 3]
c = []
for i, i2 in zip(list_a, list_b):
    c.append([i, i2])
c

[[2, 1], [6, 2], [5, 3]]

In [13]:
a = []
b = []
for item in c:
    a.append(item[0])
    b.append(item[1])
    
print(a, b)

[2, 6, 5] [1, 2, 3]

In [14]:
c = [list_a, list_b]
c

[[2, 6, 5], [1, 2, 3]]

In [15]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

___
### append() vs extend() vs insert() methods

In [16]:
classmates = ["Ken", "Jiachen", "Yuyao", 
              "Sukanya", "Jacob", "Yue", "Chen", "Yuanzhe", "Kaiwen", "Shaling", "Qi"]
new_friend = "Hanzhang"
classmates.append(new_friend)
classmates

['Ken',
 'Jiachen',
 'Yuyao',
 'Sukanya',
 'Jacob',
 'Yue',
 'Chen',
 'Yuanzhe',
 'Kaiwen',
 'Shaling',
 'Qi',
 'Hanzhang']

In [17]:
classmates = ["Ken", "Jiachen", "Yuyao", 
              "Sukanya", "Jacob", "Yue", "Chen", "Yuanzhe", "Kaiwen", "Shaling", "Qi"]
classmates += [new_friend]
classmates

['Ken',
 'Jiachen',
 'Yuyao',
 'Sukanya',
 'Jacob',
 'Yue',
 'Chen',
 'Yuanzhe',
 'Kaiwen',
 'Shaling',
 'Qi',
 'Hanzhang']

In [18]:
classmates = ["Ken", "Jiachen", "Yuyao", 
              "Sukanya", "Jacob", "Yue", "Chen", "Yuanzhe", "Kaiwen", "Shaling", "Qi"]
new_friends = ["Shiyu", "Bowen"]

classmates.append(new_friends)
classmates

['Ken',
 'Jiachen',
 'Yuyao',
 'Sukanya',
 'Jacob',
 'Yue',
 'Chen',
 'Yuanzhe',
 'Kaiwen',
 'Shaling',
 'Qi',
 ['Shiyu', 'Bowen']]

In [19]:
classmates = ["Ken", "Jiachen", "Yuyao", 
              "Sukanya", "Jacob", "Yue", "Chen", "Yuanzhe", "Kaiwen", "Shaling", "Qi"]
new_friends = ["Yuyi", "Zhouping"]

classmates.extend(new_friends)
classmates

['Ken',
 'Jiachen',
 'Yuyao',
 'Sukanya',
 'Jacob',
 'Yue',
 'Chen',
 'Yuanzhe',
 'Kaiwen',
 'Shaling',
 'Qi',
 'Yuyi',
 'Zhouping']

In [20]:
# append adds an argument as a SINGLE ELEMENT to the end of a list
# extend iterates over an argument adding each element to the list

In [21]:
classmates = ["Ken", "Jiachen", "Yuyao", 
              "Sukanya", "Jacob", "Yue", "Chen", "Yuanzhe", "Kaiwen", "Shaling", "Qi"]
classmates.extend('Lucy')
classmates

['Ken',
 'Jiachen',
 'Yuyao',
 'Sukanya',
 'Jacob',
 'Yue',
 'Chen',
 'Yuanzhe',
 'Kaiwen',
 'Shaling',
 'Qi',
 'L',
 'u',
 'c',
 'y']

In [22]:
classmates = ["Ken", "Jiachen", "Yuyao", 
              "Sukanya", "Jacob", "Yue", "Chen", "Yuanzhe", "Kaiwen", "Shaling", "Qi"]
classmates.extend(["Lucy"])
classmates

['Ken',
 'Jiachen',
 'Yuyao',
 'Sukanya',
 'Jacob',
 'Yue',
 'Chen',
 'Yuanzhe',
 'Kaiwen',
 'Shaling',
 'Qi',
 'Lucy']

In [23]:
numbers = [1, 2, 3, 4, 5, 6]
numbers.insert(3, 10)
numbers

[1, 2, 3, 10, 4, 5, 6]

In [24]:
numbers = [1, 2, 3, 4, 5, 6]
numbers.insert(5, [10, 15])
numbers

[1, 2, 3, 4, 5, [10, 15], 6]

In [25]:
numbers = [1, 1, 1, 1, 1, 1, 1, 1, 2, 4, 5, 6]
numbers.insert(numbers.index(2) + 1, 3)
numbers

[1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6]

In [26]:
numbers = [0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 4, 5, 6]
numbers.index(1)

1

___
### Multiplication

In [27]:
["Biggie","Smalls"]*3

['Biggie', 'Smalls', 'Biggie', 'Smalls', 'Biggie', 'Smalls']

In [28]:
cake_sizes = [["small", 1], ["medium", 2], ["big", 3]]
new_cake_sizes = cake_sizes * 3 
new_cake_sizes

[['small', 1],
 ['medium', 2],
 ['big', 3],
 ['small', 1],
 ['medium', 2],
 ['big', 3],
 ['small', 1],
 ['medium', 2],
 ['big', 3]]

In [29]:
new_cake_sizes[:3] == cake_sizes

True

In [30]:
new_cake_sizes[7] is cake_sizes[1]

True

In [31]:
cake_sizes[-1][0]

'big'

In [32]:
cake_sizes[-1][0] = "huge"
new_cake_sizes

[['small', 1],
 ['medium', 2],
 ['huge', 3],
 ['small', 1],
 ['medium', 2],
 ['huge', 3],
 ['small', 1],
 ['medium', 2],
 ['huge', 3]]

In [33]:
from copy import deepcopy
cake_sizes = [["small", 1], ["medium", 2], ["big", 3]]
new_cake_sizes = deepcopy(cake_sizes * 3)

cake_sizes[-1][0] = "huge"
new_cake_sizes

[['small', 1],
 ['medium', 2],
 ['big', 3],
 ['small', 1],
 ['medium', 2],
 ['big', 3],
 ['small', 1],
 ['medium', 2],
 ['big', 3]]

In [34]:
import copy
cake_sizes = [["small", 1], ["medium", 2], ["big", 3]]
new_cake_sizes = copy.copy(cake_sizes)

In [35]:
new_cake_sizes is cake_sizes

False

In [36]:
new_cake_sizes[:3] is new_cake_sizes[4:7]

False

___
### in & not in

In [37]:
"a" in "ABC"

False

In [38]:
"A" in ["A", "B", "C"]

True

In [39]:
"A" in ["A", "B", "C"]

True

In [40]:
"D" not in ["A", "B", "C"]

True

In [41]:
"AB" in "ABC"

True

___
### Iteration

In [42]:
classmates = ["Ken", "Jiachen", "Yuyao", 
              "Sukanya", "Jacob", "Yue", "Chen", "Yuanzhe", "Kaiwen", "Shaling", "Qi"]
for i in classmates:
    print(i)

Ken
Jiachen
Yuyao
Sukanya
Jacob
Yue
Chen
Yuanzhe
Kaiwen
Shaling
Qi

In [43]:
for i in enumerate(classmates):
    print(i)

(0, 'Ken')
(1, 'Jiachen')
(2, 'Yuyao')
(3, 'Sukanya')
(4, 'Jacob')
(5, 'Yue')
(6, 'Chen')
(7, 'Yuanzhe')
(8, 'Kaiwen')
(9, 'Shaling')
(10, 'Qi')

In [44]:
for i, v in enumerate(classmates):
    print("Value at index", i, "is", v)

Value at index 0 is Ken
Value at index 1 is Jiachen
Value at index 2 is Yuyao
Value at index 3 is Sukanya
Value at index 4 is Jacob
Value at index 5 is Yue
Value at index 6 is Chen
Value at index 7 is Yuanzhe
Value at index 8 is Kaiwen
Value at index 9 is Shaling
Value at index 10 is Qi

In [45]:
for i in enumerate(classmates):
    print("Value at index", i[0], "is", i[1])

Value at index 0 is Ken
Value at index 1 is Jiachen
Value at index 2 is Yuyao
Value at index 3 is Sukanya
Value at index 4 is Jacob
Value at index 5 is Yue
Value at index 6 is Chen
Value at index 7 is Yuanzhe
Value at index 8 is Kaiwen
Value at index 9 is Shaling
Value at index 10 is Qi

___
### List comprehension

In [46]:
odd_numbers_less_than_20 = []
for i in range(20):
    if i % 2:
        odd_numbers_less_than_20.append(i)
        
odd_numbers_less_than_20

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [47]:
even_numbers_less_than_20 = [i for i in range(20) if i % 2 == 0]
even_numbers_less_than_20

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [48]:
even_or_odd_list = []
for i in range(20):
    if i % 2:
        even_or_odd_list.append(str(i) + " is odd")
    else:
        even_or_odd_list.append(str(i) + " is even")
        
even_or_odd_list

['0 is even',
 '1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd',
 '10 is even',
 '11 is odd',
 '12 is even',
 '13 is odd',
 '14 is even',
 '15 is odd',
 '16 is even',
 '17 is odd',
 '18 is even',
 '19 is odd']

In [49]:
even_or_odd_list = [str(i) + " is odd" if i % 2 else str(i) + " is even" for i in range(20)]
even_or_odd_list

['0 is even',
 '1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd',
 '10 is even',
 '11 is odd',
 '12 is even',
 '13 is odd',
 '14 is even',
 '15 is odd',
 '16 is even',
 '17 is odd',
 '18 is even',
 '19 is odd']

___
### del statement vs. pop() method vs. remove() method

In [50]:
classmates = ["Ken", "Jiachen", "Yuyao", 
              "Sukanya", "Jacob", "Yue", "Chen", "Yuanzhe", "Kaiwen", "Shaling", "Qi"]
del classmates[6]

In [51]:
classmates

['Ken',
 'Jiachen',
 'Yuyao',
 'Sukanya',
 'Jacob',
 'Yue',
 'Yuanzhe',
 'Kaiwen',
 'Shaling',
 'Qi']

In [52]:
classmates = ["Ken", "Jiachen", "Yuyao", 
              "Sukanya", "Jacob", "Yue", "Chen", "Yuanzhe", "Kaiwen", "Shaling", "Qi"]
classmates.pop(6) # what is the difference?

'Chen'

In [53]:
classmates

['Ken',
 'Jiachen',
 'Yuyao',
 'Sukanya',
 'Jacob',
 'Yue',
 'Yuanzhe',
 'Kaiwen',
 'Shaling',
 'Qi']

In [54]:
kicked_out = classmates.pop(4)

In [55]:
kicked_out

'Jacob'

In [56]:
classmates.pop()

'Qi'

In [58]:
classmates = ["Ken", "Jiachen", "Yuyao", 
              "Sukanya", "Jacob", "Yue", "Chen", "Yuanzhe", "Kaiwen", "Shaling", "Qi"]
kicked_out = []
while classmates:
    kicked_out.append(classmates.pop())
    print("Kicked-out people:", kicked_out)
    print("Remaining people:", classmates)
    print("_____")

Kicked-out people: ['Qi']
Remaining people: ['Ken', 'Jiachen', 'Yuyao', 'Sukanya', 'Jacob', 'Yue', 'Chen', 'Yuanzhe', 'Kaiwen', 'Shaling']
_____
Kicked-out people: ['Qi', 'Shaling']
Remaining people: ['Ken', 'Jiachen', 'Yuyao', 'Sukanya', 'Jacob', 'Yue', 'Chen', 'Yuanzhe', 'Kaiwen']
_____
Kicked-out people: ['Qi', 'Shaling', 'Kaiwen']
Remaining people: ['Ken', 'Jiachen', 'Yuyao', 'Sukanya', 'Jacob', 'Yue', 'Chen', 'Yuanzhe']
_____
Kicked-out people: ['Qi', 'Shaling', 'Kaiwen', 'Yuanzhe']
Remaining people: ['Ken', 'Jiachen', 'Yuyao', 'Sukanya', 'Jacob', 'Yue', 'Chen']
_____
Kicked-out people: ['Qi', 'Shaling', 'Kaiwen', 'Yuanzhe', 'Chen']
Remaining people: ['Ken', 'Jiachen', 'Yuyao', 'Sukanya', 'Jacob', 'Yue']
_____
Kicked-out people: ['Qi', 'Shaling', 'Kaiwen', 'Yuanzhe', 'Chen', 'Yue']
Remaining people: ['Ken', 'Jiachen', 'Yuyao', 'Sukanya', 'Jacob']
_____
Kicked-out people: ['Qi', 'Shaling', 'Kaiwen', 'Yuanzhe', 'Chen', 'Yue', 'Jacob']
Remaining people: ['Ken', 'Jiachen', 'Yuyao', 'Sukanya']
_____
Kicked-out people: ['Qi', 'Shaling', 'Kaiwen', 'Yuanzhe', 'Chen', 'Yue', 'Jacob', 'Sukanya']
Remaining people: ['Ken', 'Jiachen', 'Yuyao']
_____
Kicked-out people: ['Qi', 'Shaling', 'Kaiwen', 'Yuanzhe', 'Chen', 'Yue', 'Jacob', 'Sukanya', 'Yuyao']
Remaining people: ['Ken', 'Jiachen']
_____
Kicked-out people: ['Qi', 'Shaling', 'Kaiwen', 'Yuanzhe', 'Chen', 'Yue', 'Jacob', 'Sukanya', 'Yuyao', 'Jiachen']
Remaining people: ['Ken']
_____
Kicked-out people: ['Qi', 'Shaling', 'Kaiwen', 'Yuanzhe', 'Chen', 'Yue', 'Jacob', 'Sukanya', 'Yuyao', 'Jiachen', 'Ken']
Remaining people: []
_____

In [59]:
katz_str = list("Katz Family!")
katz_str

['K', 'a', 't', 'z', ' ', 'F', 'a', 'm', 'i', 'l', 'y', '!']

In [60]:
katz_str.remove(" ")
katz_str

['K', 'a', 't', 'z', 'F', 'a', 'm', 'i', 'l', 'y', '!']

In [62]:
katz_str.remove("!")
katz_str

['K', 'a', 't', 'z', 'F', 'a', 'm', 'i', 'l', 'y']

___
## Homework 4

In [ ]:
# 4
def remove_smallest(numbers):
    """Given an array of integers, remove the smallest value, then return back the list.
    If there are multiple elements with the same value, remove ONLY the first one.
    If you get an empty list, return an empty list.
    Don't change the order of the elements that are left."""
    
# Test cases
assert remove_smallest([1, 2, 3, 4, 5]) == [2, 3, 4, 5]
assert remove_smallest([5, 3, 2, 0, 4, 3.2, 10]) == [5, 3, 2, 4, 3.2, 10]
assert remove_smallest([2, 2, 1, 3, 3, 1]) == [2, 2, 3, 3, 1]
assert remove_smallest([]) == [], "Should accept an empty list"

In [ ]:
# 5
def find_two_sum(list_of_integers, target):
    """Given a list of integers and a target, return the *indices* of the two numbers
    in the list such that they add up to the target"""
    
# Test cases
assert find_two_sum([3, 2, 4], 6) == [1, 2]
assert find_two_sum([2, 4, 5, 6, 8], 11) == [2, 3]
assert find_two_sum([2, 7, 11, 15], 9) == [0, 1]
assert find_two_sum([3, 3], 6) == [0, 1]
assert find_two_sum([3, 4, 5, 3], 6) == [0, 3]

In [ ]:
# 6
def get_fibo_list(n):
    """Given a number n, return a list of fibonacci numbers with n numbers"""
    
# Test cases
assert get_fibo_list(0) == []
assert get_fibo_list(1) == [0]
assert get_fibo_list(2) == [0, 1]
assert get_fibo_list(4) == [0, 1, 1, 2]
assert get_fibo_list(9) == [0, 1, 1, 2, 3, 5, 8, 13, 21]
assert get_fibo_list(35) == [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610,
                             987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025,
                             121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887]