# Python Training 2021 - Class 2

## Conditions
___

### '=' vs '=='

In [1]:
a_number = 15

In [2]:
a_number == 15

True

In [3]:
# -use '=' to assign values.
# -use '==' to compare two values.

In [4]:
a_number != 15

False

In [5]:
# Comparison: either True or False

### not

In [6]:
not True

False

In [7]:
not a_number == 10

True

In [8]:
not 5 > 4

False

In [9]:
"p" not in "Python".lower()

False

### Other Python Comparison Operators

In [10]:
toyota = 22155.8
nissan = 4001.2

In [11]:
toyota > nissan

True

In [12]:
toyota >= nissan

True

In [13]:
toyota < nissan

False

In [14]:
toyota <= nissan

False

### Truth Table (And, Or)

.|.|.|Result
---|---|---|---
True|and|False|
True|and|True|
False|and|False|
True|or|False|
True|or|True|
False|or|False|

.|.|.|Result
---|---|---|---
True|and|False|False
True|and|True|True
False|and|False|False
True|or|False|True
True|or|True|True
False|or|False|False

In [15]:
5 > 4 and 10 == 11

False

In [16]:
9 <= 12 and 15/3 == 5

True

In [17]:
not (10 >= 9 or 12 * 3 == 35)

False

In [18]:
True and True and True == False

False

In [19]:
not False or not True

True

### bool() function

In [20]:
import numpy
bool(numpy.NaN)

True

In [21]:
numpy.NaN is numpy.NaN

True

In [22]:
bool("")

False

Something is `False` when it is 0 or empty or `None`

In [23]:
print(bool(0), bool(""), bool([]), bool({}), bool(None))

False False False False False

On the contrary, something is `True` when it is not 0 nor empty nor `None`

In [24]:
print(bool(1), bool(-5), bool("yay"), bool(["a", "b", "c"]), bool({"N": "News"}))

True True True True True

## More about Loops
___

### enumerate() function

#### enumerate (v.)
###### Mention (a number of things) one by one.
###### 'there is not space to enumerate all his works'

In [25]:
for value in range(5, 16):
    print("current value:", value)
    print("_____")

current value: 5
_____
current value: 6
_____
current value: 7
_____
current value: 8
_____
current value: 9
_____
current value: 10
_____
current value: 11
_____
current value: 12
_____
current value: 13
_____
current value: 14
_____
current value: 15
_____

In [26]:
for index, value in enumerate(range(5, 16)):
    print("current index:", index)
    print("current value:", value)
    print("_____")

current index: 0
current value: 5
_____
current index: 1
current value: 6
_____
current index: 2
current value: 7
_____
current index: 3
current value: 8
_____
current index: 4
current value: 9
_____
current index: 5
current value: 10
_____
current index: 6
current value: 11
_____
current index: 7
current value: 12
_____
current index: 8
current value: 13
_____
current index: 9
current value: 14
_____
current index: 10
current value: 15
_____

In [27]:
for i, v in enumerate("Cheese"):
    print("current index:", i)
    print("current value:", v)
    print("_____")

current index: 0
current value: C
_____
current index: 1
current value: h
_____
current index: 2
current value: e
_____
current index: 3
current value: e
_____
current index: 4
current value: s
_____
current index: 5
current value: e
_____

In [28]:
for i, v in enumerate("Salad", 1):
    print("current index:", i)
    print("current value:", v , end="\n")
    print("_____")

current index: 1
current value: S
_____
current index: 2
current value: a
_____
current index: 3
current value: l
_____
current index: 4
current value: a
_____
current index: 5
current value: d
_____

In [30]:
for i in enumerate("Pizza"):
     print("current index:", i[0])
     print("current value:", i[1])
     print("_____")

current index: 0
current value: P
_____
current index: 1
current value: i
_____
current index: 2
current value: z
_____
current index: 3
current value: z
_____
current index: 4
current value: a
_____

In [31]:
?enumerate

### break and continue

In [32]:
for i in range(2, 15, 3):
    print(i)

2
5
8
11
14

In [33]:
for i in range(2, 15, 3):
    if i < 10:
        print(i)
    else:
        break

2
5
8

In [34]:
for i, v in enumerate(range(5, 20), 1):
    if v < 15:
        print("____")
        print("Current value:", v)
        if i > 3:
            print("I don't care about index anymore")
            continue
        print("Current index:", i)
    else:
        break

____
Current value: 5
Current index: 1
____
Current value: 6
Current index: 2
____
Current value: 7
Current index: 3
____
Current value: 8
I don't care about index anymore
____
Current value: 9
I don't care about index anymore
____
Current value: 10
I don't care about index anymore
____
Current value: 11
I don't care about index anymore
____
Current value: 12
I don't care about index anymore
____
Current value: 13
I don't care about index anymore
____
Current value: 14
I don't care about index anymore

### while True

In [35]:
i = 0
while True:
    print("This is gonna run forever...")
    i += 1
    if i == 3:
        print("... unless I stop it with break")
        break

This is gonna run forever...
This is gonna run forever...
This is gonna run forever...
... unless I stop it with break

## Checking Homework 1
___

# Homework 2

### Please implement the following *functions*:
#### 1/
```python
def even_or_odd(number):
    """Verify that input is integer and return whether it's even or odd"""
```
Expected results:
```python
even_or_odd("three") # invalid input
even_or_odd(5) # odd
even_or_odd(10) # even
```

#### 2/
```python
def make_negative(number):
    """Return the negative form of input"""
```
Expected results:
```python
make_negative(5) # -5
make_negative(-2.7) # -2.7
make_negative(0) # 0
```

#### 3/
```python
def opposite_number(number):
    """Return the opposite number of input"""
```
Expected results:
```python
opposite_number(3) # -3
opposite_number(-1.25) # 1.25
opposite_number(0) # 0
```

#### 4/
```python
def do_math(operator, number1, number2):
    """Given 3 inputs of operator (a string), number1, number2 (two numbers),
    return the math operation result"""
```
Expected results:
```python
do_math('+', 4, 7) # 11
do_math('-', 15, 18) # -3
do_math('*', 5, 5) # 25
do_math('/', 49, 7) # 7
```